.breadcrumb-container{
    text-align: center;
    margin-top: 20px;
    margin-left: 245px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16pt;
    color: #512c55;
    width: 1000px;
    background-color: #FFD1E3;
    justify-content: center;
    align-items: center;
    display: flex;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

li {
    display: inline-flex;
    padding: 10px;
}
li:hover{
    color: var(--color-golden);
}
