.buffer-top{
    height: 20px;
}

.contact-us-container {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin-left: 450px;
    align-items: center;
    text-align: center;
  }
  
  .contact-details {
    margin-top: 20px;
  }
  
  .social-media-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .social-media-links a {
    text-decoration: none;
  }
  
  .social-media-links img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
  
.buffer-bottom{
    height: 200px;
}